img{
    height: 50px;
    width: 50px;
    display: inline-block;
}
.instructions{
    width: 27%;
    text-align: center;
}
.body{
    background-color: rgb(255, 116, 23);
    width: 27%;
    padding: 3%;
}
.score{
    display: inline-block;
    background-color: rgb(33, 250, 4)
}
body{
    
    background-color: rgb(99, 253, 28); 
}